.about-page {
  background-color: #ffffff;
}

.tabs {
  padding: 20px 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.tabs h1 {
  font-size: 2.2rem;
  font-weight: 800;
}

.tabs h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 40px 0 10px 0;
}

.tabs ul {
  display: flex;
  flex-direction: column;
}

.tabs ul .list {
  width: 100%;
  justify-content: left;
  text-align: left;
  background-color: #fff;
  font-size: 1.3rem;
}

.tabs p {
  font-size: 1.3rem;
  justify-content: justify;
  text-align: justify;

}

.conference-topics {
  list-style-type: disc;
  padding-left: 40px;
  margin-top: 10px;
  text-align: left;
}
